form{
    border: solid 1px white;  
    width: 450px;
    padding-left: 10px;
    margin-left: 100px;
    padding-top:30px;
}
body{
    background-image: url(ram.jpg);
    background-repeat: no-repeat;
    background-size: 1260px 580px;
}
label{
    color:white;
    font-size: 23px;
}
h1{
    color: aqua;
    font-size: 30px;
    text-align: center;
}
input{
    height: 30px;
    width: 300px;
    background: none;
    outline: none;
    border: none;
    border-bottom-style: solid;
    border-bottom-color:goldenrod;
    border-bottom-width: 5px;
    color:cadetblue;
    font-size: 20px;
}
textarea{
    width: 300px;
    height: 90px;
}
button{
    height: 50px;
    width: 150px;
    background-color:purple;
    color:wheat;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}
#avtar{
    border-radius: 50%;
    position: relative;
    left: 280px;
    top: 50px;

}